<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDrWTMgfoFf83JAydGL6OW1htfH5EQvjuw</string>
	<key>GCM_SENDER_ID</key>
	<string>403412459232</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.breathBank</string>
	<key>PROJECT_ID</key>
	<string>breathbank-79115</string>
	<key>STORAGE_BUCKET</key>
	<string>breathbank-79115.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:403412459232:ios:f3216b4bc1c6b774b33a85</string>
</dict>
</plist>